<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vallalar Velai Vaaipu Sevai Iyakkam</title>
    <link rel="stylesheet" href="style.css">
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon"  href="images/logo1.png"/>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="/socket.io/socket.io.js"></script>
   
   <script src="jquery.min.js"></script>

</head>
<body>
  
    <nav class="navbar navbar-expand-lg  fixed-top" id="na">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fa fa-bars"></i> <span class="navbar-toggler-icon"></span>
          
        </button>
        <h3 class="navbar-brand" href="#">Vallalar Velai Vaaipu Sevai Iyakkam <img style="height:30px;width:30px" src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Brownring-Lotus.png" alt=""> </h3>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mt-2 mt-lg-0 ml-auto mr-2">
            <li class="nav-item active">
              <a class="nav-link " href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#join">Get_Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#contact" >Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <header>
        <div class="owl-carousel owl-theme" id="home">
            <div class="item">
                <img src="https://cdn.pixabay.com/photo/2017/10/24/10/30/business-2884023_960_720.jpg" alt="images not found">
                <div class="cover">
                    <div class="container">
                        <div class="header-content">
                            <div class="line"></div>
                            <h2>Together on Vallalar Velai Vaaipu Sevai Iyakkam</h2>
                            <h1>Lets start </h1>
                            <h4>We provide you the great future</h4>
                        </div>
                    </div>
                 </div>
            </div>                    
            <div class="item">
                <img src="https://images.pexels.com/photos/3740400/pexels-photo-3740400.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="images not found">
                <div class="cover">
                    <div class="container">
                        <div class="header-content">
                            <div class="line animated bounceInLeft"></div>
                            <h2>Vallalar Velai Vaaipu Sevai Iyakkam is much</h2>
                            <h1>User Friendly</h1>
                            <h4>We help unemployee and freshers to get jobs.</h4>
                        </div>
                    </div>
                 </div>
            </div>                
            <div class="item">
                <img src="https://images.pexels.com/photos/3184292/pexels-photo-3184292.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="images not found">
                <div class="cover">
                    <div class="container">
                        <div class="header-content">
                            <div class="line animated bounceInLeft"></div>
                            <h2>As per your Qualification</h2>
                            <h1>Great Jobs</h1>
                            <h4>We Provide what your need without any expectation.</h4>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </header>
    <div id="about" style="padding-top: 80px;">
    <hr class="hr-1">
<div class="homepage_block image_right" style="padding: 60px 0;;padding-top: 200px;padding-bottom: 120px;" >
    <div class="container">
      <div class="row">
        
            <div class="col-sm-5 homepage_block__image wow animated" style="visibility: visible;"><img src="https://images.pexels.com/photos/1181396/pexels-photo-1181396.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Welcome to D Spices! Dspices.in is an Indian online spice shop with base in the main spice growing area in India, the Cardamom Hills in the Western Ghats mountain range in Kerala. Dspices is an initiative to share and sustain the passion of spices. Dspices selects the finest of the spices from the farms where growing spices is a tradition and a faith. Our commitment to quality and intimacy with purity roots deep into the spirit of Indian spices. Dspices strives to spread the pleasure of Indian spices throughout modern world. </br>"></div>
          <div class="col-sm-7 homepage_block__text wow animated" style="visibility: visible;">
            <h3>Welcome to Vallalar Velai Vaaipu Sevai Iyakkam!</h3>
              <p>We are doing employment social service in tamilnadu india.
                Govt registered NGO.Vallalar Velai Vaaipu Sevai Iyakkam have been started by I.Veraragavan in the year 2018 inorder to reduce the count of unemployee and to lights up there life .He started this service with his own interest after few month passby actor Vijay sethupathi motivated him and thereby he started this service in a big scale .Now we provided more than 50,000 peoples all over Tamilnadu.Our services continuous as long as unemployment exist..  <br></p>
            </div>
        
      </div>
    </div>
  </div></div>
  <hr class="hr-1">
  <div class="heading"style="width: 100%;text-align: center;margin-top:100px;">

<h2>Find Your Jobs Lets Get Started!</h2>

  <div class="vmain" >
          
    <div class="v_left">
    
        <img src="https://i.pinimg.com/originals/96/19/99/96199963430a92bf5c15349943ec90aa.gif" alt="">
    </div>
    <div class="v_right">
       
                
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Start</button>
            </div>
           
          
    </div>
  </div>
<hr class="hr-1">
  <footer>
    <div class='footer-container' id="contact">
  
    
  <div class="sec1">
      <div class='footer-col2'>
        <h4>Share Your Experience</h4>
        <mdb-card class="col-lg-12" style="background: transparent;">
          <form class="form-horizontal" role="form" action="mailto:czoom@gmail.com"  method="get" enctype="text/plain" style="position: relative;margin: auto;">
             
            <div class="form-group">
              <div class="col-sm-12">
                <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
              </div>
            </div>
      
            <div class="form-group">
              <div class="col-sm-12">
                <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <textarea class="form-control" rows="5" placeholder="MESSAGE" name="message"></textarea>
              </div>
            </div>
       
            <div class="form-group">
              <div class="col-sm-12">
            <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
              <div class="button" >
                <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
              </div>
            
            </button></div>
          </div>
            
          </form>
        </mdb-card>
      
      </div>
     </div>
     
      
    <br>
    <div class="sec2">
      <div class='footer-col1'>
  
        <ul>
          <li>
            <h4>Contact Us</h4>
          </li>
          <li>143,jai bhem nagar,perambur,chennai. </li>
          <li>TamilNadu ,IND</li>
          <li>phone: 962304188</li>
          <li>Fax: 613-727-1895</li>
        </ul>
      </div>
    </div>
   <div class="sec3">
  
      <div class="social-media">
        <a href="https://www.facebook.com/veera.rahavan/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/c/VVVSICAREERGUIDELINES"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/vvvsi_career_guidelines/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
       
      </div>
    </div>
    </div>
    <div class='legal'>Copyright (c) 2020 Vallalar Velai Vaaipu Sevai Iyakkam All Rights Reserved.</div>
  </footer>
 
  <script src="jquery.min.js"></script>
  <script>
    // Shorthand for $(document).ready();
    $(function() {
     $('#myform').submit(function(){
       console.log("hi da");
       var urle = $('#jurl').val();
       $(this).attr('action', "/" + urle);
     });
     $('#myform2').submit(function(){
      var uname = $('#username').val();
       localStorage.setItem("username",uname);
     });

    });
   </script>
  <script>
      ;(function($){
  
  /**
   * jQuery function to prevent default anchor event and take the href * and the title to make a share popup
   *
   * @param  {[object]} e           [Mouse event]
   * @param  {[integer]} intWidth   [Popup width defalut 500]
   * @param  {[integer]} intHeight  [Popup height defalut 400]
   * @param  {[boolean]} blnResize  [Is popup resizeabel default true]
   */
  $.fn.customerPopup = function (e, intWidth, intHeight, blnResize) {
    
    // Prevent default anchor event
    e.preventDefault();
    
    // Set values for window
    intWidth = intWidth || '500';
    intHeight = intHeight || '400';
    strResize = (blnResize ? 'yes' : 'no');

    // Set title and open popup with focus on it
    var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
        strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,            
        objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
  }
  
  /* ================================================== */
  
  $(document).ready(function ($) {
    $('.customer.share').on("click", function(e) {
      $(this).customerPopup(e);
    });
  });
    
}(jQuery));
  </script>

  <script type="text/javascript">

$(document).ready(function() {


$(window).scroll(function() {    
    var scroll = $(window).scrollTop();

     //>=, not <=
    if (scroll >= 600) {
        //clearHeader, not clearheader - caps H
        $(".navbar").addClass("bg-dark");

    } else {
      $(".navbar").removeClass("bg-dark");

    }
}); //missing );
  
  
  
  

  
// document ready  
});</script>
  <script>
    $('.owl-carousel').owlCarousel({
  loop:true,
  margin:10,
  dots:false,
  nav:true,
  mouseDrag:false,
  autoplay:true,
  animateOut: 'slideOutUp',
  responsive:{
      0:{
          items:1
      },
      600:{
          items:1
      },
      1000:{
          items:1
      }
  }
});
</script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="script2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>