<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"> 
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
     <link rel="icon" 
     type="image/png" 
     href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
    <title>VVVSI</title>
</head>
<body>

    <header class="header1">
        <nav class="nav bd-grid">
            <div style="display: flex;flex-direction: row;">
                <img style="height:30px;width:30px" src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Brownring-Lotus.png" alt="">   <p  class="nav_logo">Vallalar Velai Vaaipu Sevai Iyakkam </p>
            </div>
                <div class="nav_menu" id="nav-menu">
                    <ul class="nav_list">
                        <li class="nav_item"><a style="text-decoration: none;" href="#home" class="nav_link active">Home</a></li>
                        <li class="nav_item"><a style="text-decoration: none;" href="#about" class="nav_link">About</a></li>
                        <li class="nav_item"><a style="text-decoration: none;" href="#service" class="nav_link">Services</a></li>
                        <li class="nav_item"><a style="text-decoration: none;" href="#goals" class="nav_link">Goals</a></li>  
                        <li class="nav_item"><a style="text-decoration: none;" href="#achiv" class="nav_link">Achievments</a></li> 
                        <li class="nav_item"><a style="text-decoration: none;" href="#contact" class="nav_link">Contact</a></li>                   
                    </ul>
                </div>

                <div id="navtoggle" class="nav_toggle">
                    <i class='bx bx-menu'></i>
                </div>
           
        </nav>
    </header>

    <main class="main1">
        <section class="home" id="home">
           <div class="header2">
            <div class="home-container bd-grid">
                <div class="forming">
                    <img src="images/home2.gif" alt="">
                </div>
                <div class="home-info">
                <% if(message!=''){%>
                    <% if(message=='you have already applied'){%>
                        <div style="margin-top: 30px;" id="alert" class="alert alert-danger">
                            <strong><%=message%></strong><i onclick="removes()" style="float:right;" class='bx bx-x'></i>
                        </div>
                    <%}%>
                    <%if(message=='Your data have been recived! Soon we will get you'){%>
                <div id="alert" class="alert alert-success">
                    <strong><%=message%></strong><i onclick="removes()" style="float:right;" class='bx bx-x'></i>
                </div>
                <%}%>
                <%}%>
                    <form style="color: var(--first-color);" class="getjform text-center border border-light p-5" method="POST" action="/joingroup">

                        <p class="h4 mb-4">Join Whatsapp Group</p>
                        <input type="text" id="defaultContactFormName" name="username" class="form-control mb-4" placeholder="Name">
                        <input type="text" id="defaultContactFormEmail" name="qualification" class="form-control mb-4" placeholder="Qualification">
                        
                        <input type="tel" maxlength="10" size="10" name="whatsapp_num" id="defaultContactFormName" class="form-control mb-4" placeholder="WhatsApp Number">
                
                        <select name="district" aria-placeholder="Choose District" class="browser-default custom-select mb-4">
                            <option value="1" >Select District</option>
                            <option value="Ariyalur">Ariyalur</option>
                            <option value="Chengalpattu">Chengalpattu</option>
                            <option value="Chennai">Chennai</option>
                             <option value="Coimbatore"> Coimbatore</option>
                             <option value="Cuddalore">Cuddalore</option>   
                            <option value="Dharmapuri">Dharmapuri</option>
                            <option value="Dindigul">Dindigul</option>
                            <option value="Erode">Erode</option>
                            <option value="Kallakurichi">Kallakurichi</option>
                            <option value="Kanchipuram">Kanchipuram</option>
                            <option value="Kanyakumari">Kanyakumari</option>
                            <option value="Karur">Karur</option>
                            <option value="Krishnagiri"> Krishnagiri</option>
                            <option value="Madurai"> Madurai</option>
                            <option value="Mayiladuthurai"> Mayiladuthurai</option>
                            <option value="Nagapattinam"> Nagapattinam</option>
                            <option value=" Namakkal"> Namakkal</option>
                            <option value="Nilgiris">Nilgiris</option>
                            <option value="Perambalur">Perambalur</option>
                                <option value="Pudukkottai">Pudukkottai</option>
                                <option value="Puducherry UT">Puducherry UT</option>
                            <option value="Ramanathapuram">Ramanathapuram</option>
                            <option value="Ranipet">Ranipet</option>
                            <option value="Salem">Salem</option>
                            <option value="Sivagangai">Sivagangai</option>
                            <option value="Tenkasi">Tenkasi</option>
                            <option value="Thanjavur">Thanjavur</option>
                            <option value="Theni">Theni</option>
                            <option value="Thoothukudi">Thoothukudi</option>
                            <option value="Tiruchirappalli">Tiruchirappalli</option>
                            <option value="Tirunelveli"> Tirunelveli</option>
                            <option value="Tiruppur">Tiruppur</option>
                            <option value="Tiruvallur">Tiruvallur</option>
                            <option value="Tiruvannamalai">Tiruvannamalai</option>
                            <option value="Tiruvarur">Tiruvarur</option>
                            <option value="Vellore">Vellore</option>
                            <option value="Viluppuram">Viluppuram</option>
                            <option value="Virudhunagar">Virudhunagar</option>
                           
                        </select>
                        <select name="gender" aria-placeholder="Choose District" class="browser-default custom-select mb-4">
                            <option value="" >select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="others">Others</option>
                        </select>
                    
                        <button style="background-color:var(--first-color);margin: 10px;" class="btn btn-info btn-block" type="submit">Submit</button>
                    
                    </form>
                </div>
              
            </div>

        </header>
        <hr  class="hr-1">
        </section>
       
        <section class="about section" id="about">
            <h2 class="section-title">About</h2>
            <div class="aboutcontainer bd-grid">
                <div class="aboutimg">
                    <img src="images/logo.jpg" alt="">
                </div>
                <div>
                   
                    <h2 class="aboutsubtitle">Welcome to Vallalar Velai Vaaipu Sevai Iyakkam!</h2>
                    <p class="abouttext">We are doing employment social service in tamilnadu india.
                      Govt registered NGO.Vallalar Velai Vaaipu Sevai Iyakkam have been started by I.Veraragavan in the year 2018 inorder to reduce the count of unemployee and to lights up there life .He started this service with his own interest after few month passby actor Vijay sethupathi motivated him and thereby he started this service in a big scale .Now we provided more than 50,000 peoples all over Tamilnadu.Our services continuous as long as unemployment exist..  <br></p>
               
                    <div class="aboutsocial">
                        <a href="" class="aboutsocialicon"><i class='bx bxl-instagram-alt' ></i></a>
                        <a href="" class="aboutsocialicon"><i class='bx bxl-facebook-square' ></i></a>
                        <a href="" class="aboutsocialicon"><i class='bx bxl-youtube' ></i></a>
                        <a href="" class="aboutsocialicon"><i class='bx bxl-telegram'></i></a>
                        <a href="" class="aboutsocialicon"><i class='bx bxl-twitter' ></i></a>
                   

                    </div>

                </div>
            </div>
        </section>
        <hr  class="hr-1">
        <section class="services section" id="service">
            <h2 class="section-title">Services</h2>
            <div class="service-container bd-grid">
                        <div class="service-box">
                      
                            <h3 class="service-subtitle"> Service and Social Media</h3>
                                <span class="service-name1">We are glad to introduce us and our Social service to the Society.  We Provide Authentic Employment news to the Unemployed Youngsters through Social Media and Other Viable Connections.</span>
                                <span class="service-name1">
                                    We are in to this service for more than 4.5 years. Initially we started with 2 WhatsApp group and gradually expanded it to 14 WhatsApp group.</span>
                                <span class="service-name1">At present we are connected through more than 1000+ WhatsApp groups. Through our efforts more than 48000+ eligible candidates are selected and employed by various organizations in TamilNadu (Across various Districts) and Puducherry Union Territory. </span>
                                <span class="service-name1">Employers & Job Seekers in these respective states can avail the services free of Cost.</span>
                                <span class="service-name1">Also, we share employers job notification Through Our district wise whatsapp groups (500+), admins of other WhatsApp job service groups  All over TamilNadu across Districts. More Importantly we have Human Resource Professionals from various organizations connected in 100+ of our WhatsApp groups.</span>
                        </div>
                        <div class="serviceimg">
                            <img src="images/service.gif" alt="">
                        </div>
            </div>
        </section>
        <hr  class="hr-1">
        <section class="container service-offerings" id="goals">
            <h3 class="serviceb-subtitle">Vallalar Velai Vaaipu Sevai Iyakkam </h3>
            <div class="row">
              <div class="col-sm-4 service-category">
                <div class="service-details">
                    <i class='bx bx-target-lock'></i></p>
                  <h3>Our Mission</h3>
                  <h6 class="services-list">Our Mission is to Cure unemployment from the society and give job information even to the Remote Village.</h6>
                </div>
              </div>
              <div class="col-sm-4 service-category">
                <div class="service-details">
                    <i class='bx bxs-binoculars'></i></p>
                  <h3>Our Vision</h3>
                 <h6 class="services-list">
                    Our vision is to enable Smart Phone as a greatest tool to reach the job offers to Unemployed.
                 </h6>
                </div>
              </div>
                   <div class="col-sm-4 service-category">
                <div class="service-details">
                    <i class='bx bx-notepad' ></i></p>
                  <h3>Our Policy</h3>
                  <h6 class="services-list">We never recommend any individual in selection process. It will be based on merit and the employer’s requirement of skills.</h6>
                </div>
              </div>
              </div>

              <div class="row" >
                <div class="col-sm-4 service-category dis">
                    <div class="service-details">
                        <i class='bx bx-merge' ></i></p>
                      <h3>Our Platform</h3>
                    <h6 class="services-list">We are working Under Registered Trust Platform ( Reg Trust Number : Book No IV – 548) | Registered in Puducherry | Registered In Tamilnadu | Als well as Reg In govt Of india </h6>
                    </div>
                  </div>
                  <div class="col-sm-4 service-category dis">
                    <div class="service-details">
                        <i class='bx bxl-medium'></i></p>
                      <h3>Our Team</h3>
                            <h6 class="services-list">
                                
                                Lorem Ipsum is simply dummy  printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </h6>
                            </div>
                          </div>
                       
                
                  <div class="col-sm-4 service-category dis">
                    <div class="service-details">
                      <i class="fa fa-lightbulb-o"></i></p>
                      <h3>Our Mentor</h3>
                      <h6 class="services-list">
                                
                        Retd District Employment Exchange Officers, Retd IAS Officer, NHRD Team, Many of HR circle Forum and  Actor Vijay Sethupathi
                                                    </h6>
                    </div>
                    </div>
        
                </div>
              </div>
          </section>
          <hr  class="hr-1">
          <!-- <section class="getjobs section" id="getjobs">
            <h2 class="section-title">Get Jobs</h2>
<div class="getjobcontainer bd-grid">
    <div class="aboutimg">
        <img src="images/gj2.gif" alt="">
    </div>
    <div>
                   
        <h2 class="aboutsubtitle">Join Vallalar Velai Vaaipu Sevai Iyakkam!</h2>
        <p class="abouttext">Join our group as per your district. Provide proper details and your needs with us. Get daily updates about jobs . Lets start  bulid your future.<br></p>
   
        <div class="getjobbutton ">
           
            <a href="#" class="btn btn-sm animated-button victoria-three">Join</a> 

        </div>

    </div>
</div>
          </section> -->
        <section class="achiv section" id="achiv">
            <h2 class="section-title">Achivements</h2>
        <div class="achiv-container bd-grid">
            <div class="achiv-img">
                <img src="images/1.PNG" alt="">
                <div class="achiv-link">
                    <p href="" class="achiv-linkname">Social Service Award from ShatriyaAcedamy</p>
                </div>
            </div>
            <div class="achiv-img">
                <img src="images/2.PNG" alt="">
                <div class="achiv-link">
                    <p href="" class="achiv-linkname">APJ Abdul kalam Social Service Award </p>
                </div>
            </div>
            <div class="achiv-img">
                <img src="images/3.PNG" alt="">
                <div class="achiv-link">
                    <p href="" class="achiv-linkname">Vallalar Award FromSanmaarka Association </p>
                </div>
            </div>
            <div class="achiv-img">
                <img src="images/4.PNG" alt="">
                <div class="achiv-link">
                    <p href="" class="achiv-linkname"> VallalarThiruthindar Award </p>
                </div>
            </div>
            <div class="achiv-img">
                <img src="images/5.PNG" alt="">
                <div class="achiv-link">
                    <p href="" class="achiv-linkname">Rotary Club Given Award for PANPON Job fair Supporter Award From Industries Minster </p>
                </div>
            </div>
            <div class="achiv-img">
                <img src="images/6.PNG" alt="">
                <div class="achiv-link">
                    <p href="" class="achiv-linkname">Social Service “Annai Theresa Award” from Labour Minister Mr.M.Kandhasamy</p>
                </div>
            </div>
        </div>
        </section>
        <hr  class="hr-1">
        <section class="review section "  style="text-align: center;">
            <div style="text-align: center;" class="aboutsubtitle">
                <h2 style="color: var(--first-color);">
                    JOB SEEKER AND RECRUITERS FEEDBACK ABOUT OUR SERVICE 
                    </h2>
            </div>
            
            <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
         
            <div class="carousel-wrapper" id="cat" style="margin-bottom: 10px;width: 80%;height: 500px;position: relative;margin-top: 300px;;text-align: center;">
           
             
              <div class="carousel" data-flickity>
                <div class="carousel-cell" onclick="document.getElementById('form-id').submit();">
                  
                  <img class="cat" src="images/w1.PNG" />
                  
                  </div>
                <div class="carousel-cell"class="carousel-cell" onclick="document.getElementById('form-id2').submit();">
           
                    <img class="cat" src="images/w2.PNG" />
                  
                  </div>
                <div class="carousel-cell" class="carousel-cell" onclick="document.getElementById('form-id3').submit();">
                     
                    <img class="cat" src="images/w3.PNG" />
                  
                  </div>
                <div class="carousel-cell"class="carousel-cell" onclick="document.getElementById('form-id4').submit();">
                      
                    <img class="cat" src="images/w4.PNG" />
                  
                  </div>
                <div class="carousel-cell"class="carousel-cell" onclick="document.getElementById('form-id5').submit();">
                       
                    <img class="cat" src="images/w8.PNG" />
                  
                  </div>
                <div class="carousel-cell"class="carousel-cell" onclick="document.getElementById('form-id6').submit();">
                   
                    <img class="cat" src="images/w6.PNG" />
                  
                  </div>
                  <div class="carousel-cell"class="carousel-cell" onclick="document.getElementById('form-id7').submit();">
                        
                  <img class="cat" src="images/w7.PNG" />
                    
                    </div>
              </div>
            </div>
        </section>
        <hr  class="hr-1">
        <section id="contact" class="contact section">
                <h2 class="section-title">Contact</h2>
                <div class="contact-container bd-grid">
                    <div class="contact-info">
                        <h3 class="contact-subtitle">Email</h3>
                        <span class="contact-text">vvvsm@@gmail.com</span>

                        <h3 class="contact-subtitle">Phone</h3>
                        <span class="contact-text">9962304189</span>

                        <h3 class="contact-subtitle">Address</h3>
                        <span class="contact-text"><ul><li>143,jai bhem nagar,perambur,chennai. </li>
                            <li>TamilNadu ,IND</li>
                            <li>phone: 962304188</li>
                            <li>Fax: 613-727-1895</li></ul> </span>

                    </div>
                    <form action="mailto:vvvsm@gmail.com" class="contact-form">
                        <div class="contact-inputs">
                            <input type="text" placeholder="Name" class="contact-input">
                            <input type="mail" placeholder="Email" class="contact-input">
                        </div>
                        <textarea name="" id="" cols="0" rows="10" class="contact-input"></textarea>
                        <input type="submit" value="Send" class="contact-button">
                    </form>
                </div>
        </section>
    </main>
    <footer class="footer section">
        <div class="footer-container bd-grid">
            <div class="footer-data">
                <h2 class="footer-title">VVVSM</h2>
                <p class="footer-text">Vallalar Velaivaipu Sevai Maiyam</p>
            </div>
            <div class="footer-data">
                <h2 class="footer-title">Explore</h2>
             <ul>
                 <li><a href="#home" class="footer-link">Home</a></li>
                 <li><a href="#about" class="footer-link">About</a></li>
                 <li><a href="#services" class="footer-link">Services</a></li>
                 <li><a href="#goals" class="footer-link">Goals</a></li>
                 <li><a href="#achiv" class="footer-link">Achivements</a></li>
                 <li><a href="#contact" class="footer-link">Contact</a></li>
             </ul>
            </div>
            <div class="footer-data">
                <h2 class="footer-title">Follow</h2>
                <a href="https://www.instagram.com/vvvsi_career_guidelines/"class="footer-social"><i class='bx bxl-instagram-alt' ></i></a>
                <a href="https://www.facebook.com/veera.rahavan/" class="footer-social"><i class='bx bxl-facebook-square' ></i></a>
                <a href="https://www.youtube.com/c/VVVSICAREERGUIDELINES" class="footer-social"><i class='bx bxl-youtube' ></i></a>
                <a href="https://www.youtube.com/c/VVVSICAREERGUIDELINES" class="footer-social"><i class='bx bxl-twitter' ></i></a>
                <a href="https://www.youtube.com/c/VVVSICAREERGUIDELINES" class="footer-social"><i class='bx bxl-telegram' ></i></a>

         
            </div>
        </div>
    </footer>
    <script>
        $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      dots:false,
      nav:true,
      mouseDrag:false,
      autoplay:true,
      animateOut: 'slideOutUp',
      responsive:{
          0:{
              items:1
          },
          600:{
              items:1
          },
          1000:{
              items:1
          }
      }
    });
    </script>
     <script type="text/javascript">

        $(document).ready(function() {
        
        
        $(window).scroll(function() {    
            var scroll = $(window).scrollTop();
         
           if($(window).width()<=600){
             
            $(".header1").css({
                    'background-color': 'var(--first-color)'
                  
                });
           }
           else if (scroll >= 500) {
                
                $(".header1").css({
                    'background-color': 'var(--first-color)'
                  
                });
        
            } else {
          
                $(".header1").css({
                   'background-color': 'var(--first-color)'
                });
        
            }
        }); 
           
        });</script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
    <script src="script/main.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="script.js"></script>
</body>
</html>