@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

:root{
    --header-height:3rem;
    --font-medium:500;
}
:root{
    --first-color:#00416d;
    --white-color:#FAFAFF;
    --dark-color:#2a3b47;
    --text-color:#697477;
}
:root{
    --body-font:'Monserrat',sans-serif;
    --big-font-size:6.25rem;
    --h2-font-size:1.25rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
}

@media screen and (min-width:768px)
{
    :root{
    
        --big-font-size:10.5rem;
        --h2-font-size:2rem;
        --normal-font-size:1rem;
        --small-font-size:.875rem;
    }
}
:root{
    --mb-1:.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
}
:root{
    --z-fixed:100;
}

*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}
h1,h2,p{
    margin:0;
}
ul{
 
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

.section
{
    padding: 6rem 0;
}
.section-title{
    position: relative;
    font-size:var(--h2-font-size);
    color: var(--dark-color);
    margin:var(--mb-4) 0;
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);

}
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.header1{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: transparent;

}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:768px)
{
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,.3);
        transition: .5s;
       backdrop-filter:blur(10px)

    }
    .header1{
        background-color: var(--first-color);
    }
}
.nav_item{
    margin-bottom: var(--mb-4);

}
.nav_link{
    position: relative;
    color: var(--dark-color);
}
.nav_link:hover{
    color:var(--first-color)
}
.nav_logo{
    color: var(--white-color);
}
.nav_toggle{
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.show{
    right: 0;
}

.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left:0;
    top: 2rem;
    background-color: var(--first-color);
}
.footer{
    background-color: var(--dark-color);

}
.footer-container{
    row-gap:2rem;
}
.footer-title{
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: var(--mb-2);

}
.footer-link{
    padding: .25rem 0;
}
.footer-link:hover{
    color: var(--first-color);
}
.footer-social{
    font-size: 1.4rem;
    margin-right: var(--mb-1);
}
.footer-social:hover{
    color: var(--first-color);
}
@media screen and (min-width:768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 6rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width:64px;
        top: 3rem;
    }
    .nav{
        height: 70px;

    }
    .nav_list{
        display: flex;
        
    }
    .nav_item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav_toggle{
        display: none;
    }
    .nav_link{
        color: var(--white-color);
    }
    .nav_link:hover{
        color: var(--white-color);
    }
    .active::after{
        background-color: var(--white-color);
    }
    .givelinkcontainer{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .pendingworkcontainer{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .completedcontainer{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .surveycontainer{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .footer-container{
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
    }
}
@media screen and (min-width:1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}
.home{
    height: 100vh;
    width: 100vw; 
    opacity: 1.8;
    background: rgba(0, 0, 0, 0.8);
}
video {
    height: 100vh;
    width: 100vw; 
    
    background: rgba(0, 0, 0, 0.8);
  }
  .givelinkcontainer{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}
.pendingworkcontainer{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}
.pendingworkimg{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 420px;
    height: 320px;
    background-color: transparent;
    overflow: hidden;
}
.pendingworkimg img{
    width: 500px;
}
.completedcontainer{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}
.completedimg{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 420px;
    height: 320px;
    background-color: transparent;
    overflow: hidden;
}
.completedimg img{
    width: 500px;
}
.surveycontainer{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}
.surveyimg{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 420px;
    height: 320px;
    background-color: transparent;
    overflow: hidden;
}
.surveyimg img{
    width: 500px;
}
.givelinkimg{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 420px;
    height: 520px;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
}
.givelinkimg img{
    width: 500px;
}
  
a.animated-button.victoria-three {
	border: 2px solid var(--first-color);
}
a.animated-button.victoria-three:after {
	background: var(--first-color);
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: rgb(19, 17, 17);
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: rgb(22, 19, 19);
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

  
 

  
 